<!doctype html>
<html class="no-js" lang="en">
<head th:replace="fragment:: head"></head>
<body>

<header th:replace="fragment:: header"></header>
<!-- header-end -->
<!-- mainmenu-area-start -->
<div th:replace="fragment:: mainmenu"></div>
<div th:replace="fragment:: mobilemenu"></div>

<div class="new-product-area hot-deal-area dotted-5 new-product-4 pt-80">
	<div class="container">
		<div class="row">

			<div class="col-lg-12 col-md-12">
				<div class="section-title section-title-4">
					<h2>New Products</h2>
				</div>
				<div class="row">
					<div class="container-product new-product-home-4-active">
					</div>
				</div>
				<div class="row">
					<div class="col-lg-12">
						<div class="single-static-banner">
							<div class="single-static-img">
								<a href="bedroom.html"><img src="img/banner/ads-middle-grand4.jpg" alt="" /></a>
								<div class="single-static-text single-static-text-4">
									<h3>The world's most popular office sofa</h3>
									<span>G64 - Over 1.3 Million Sold Worldwide</span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>
</div>
<!--new-product-area-start -->
<div class="new-product-area hot-deal-area dotted-5 new-product-4 ptb-50">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="section-title section-title-4 section_4">
					<h2>featured products</h2>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="new-product-home-2-active">

			</div>
		</div>
	</div>
</div>
<!-- new-product-area-end -->
<!-- static-slider-area-start -->
<div class="static-slider-area dotted-style new-product-4 pb-80 hidden-xs">
	<div class="static-slider-active">
		<div class="static-single-slider">
			<div class="static-slider-img">
				<img src="img/static/4.jpg" alt="" />
			</div>
			<!-- <div class="static-slider-text">
                <h2>Chairs & Chaises</h2>
                <h1>Ethen Accent Chair - Laguna</h1>
                <p>Vacation at Home. With its dashingly refined good looks, the Ethen accent chair is <br /> perfectly suited for any room that can use a dose of vibrant colour. Tight-back upholstery <br /> from top to bottom gives the chair.</p>
                <a href="bedroom.html" class="shopnow">shop now</a>
            </div> -->
		</div>
		<div class="static-single-slider">
			<div class="static-slider-img">
				<img src="img/static/5.jpg" alt="" />
			</div>
		</div>
		<div class="static-single-slider">
			<div class="static-slider-img">
				<img src="img/static/6.jpg" alt="" />
			</div>

		</div>
	</div>
</div>
<!-- static-slider-area-end -->
<!-- feature-preduct-area-start -->
<div class="feature-preduct-area home-page-2 feature-product-4 dotted-5 new-product-4 hot-deal-area  pb-50">
	<div class="container">
		<div class="row">
			<div class="section-title hot-deal-title sale-4 section-title-4">
				<h2>sale products</h2>
			</div>
			<div class="col-lg-9 col-md-9">
				<div class="feature-home-2-active feature-home-4-active">
					<div class="single-product-items">
						<div class="single-new-product">
							<div class="product-img">
								<a href="product-details.html">
									<img src="img/product/1.jpg" class="first_img" alt="" />

								</a>
							</div>
							<div class="product-content text-center">
								<a href="product-details.html"><h3>Beaumont Summit</h3></a>
								<div class="product-price-star">
									<i class="fa fa-star"></i>
									<i class="fa fa-star"></i>
									<i class="fa fa-star"></i>
									<i class="fa fa-star-o"></i>
									<i class="fa fa-star-o"></i>
								</div>
								<h4>Rs45.00</h4>
							</div>
						</div>


					</div>

					<div class="single-product-items">
						<div class="single-new-product">
							<div class="product-img">
								<a href="product-details.html">
									<img src="img/product/1.jpg" class="first_img" alt="" />

								</a>
							</div>
							<div class="product-content text-center">
								<a href="product-details.html"><h3>Beaumont Summit</h3></a>
								<div class="product-price-star">
									<i class="fa fa-star"></i>
									<i class="fa fa-star"></i>
									<i class="fa fa-star"></i>
									<i class="fa fa-star-o"></i>
									<i class="fa fa-star-o"></i>
								</div>
								<h4>Rs45.00</h4>
							</div>
						</div>


					</div>


					<div class="single-product-items">
						<div class="single-new-product">
							<div class="product-img">
								<a href="product-details.html">
									<img src="img/product/1.jpg" class="first_img" alt="" />

								</a>
							</div>
							<div class="product-content text-center">
								<a href="product-details.html"><h3>Beaumont Summit</h3></a>
								<div class="product-price-star">
									<i class="fa fa-star"></i>
									<i class="fa fa-star"></i>
									<i class="fa fa-star"></i>
									<i class="fa fa-star-o"></i>
									<i class="fa fa-star-o"></i>
								</div>
								<h4>Rs45.00</h4>
							</div>
						</div>


					</div>


					<div class="single-product-items">
						<div class="single-new-product">
							<div class="product-img">
								<a href="product-details.html">
									<img src="img/product/1.jpg" class="first_img" alt="" />

								</a>
							</div>
							<div class="product-content text-center">
								<a href="product-details.html"><h3>Beaumont Summit</h3></a>
								<div class="product-price-star">
									<i class="fa fa-star"></i>
									<i class="fa fa-star"></i>
									<i class="fa fa-star"></i>
									<i class="fa fa-star-o"></i>
									<i class="fa fa-star-o"></i>
								</div>
								<h4>Rs45.00</h4>
							</div>
						</div>


					</div>





				</div>


				<div class="">
					<div class="single-static-banner">
						<div class="single-static-img">
							<a href="bedroom.html"><img src="img/banner/ads-middle-grand4.jpg" alt="" /></a>
							<div class="single-static-text single-static-text-4">
								<h3>The world's most popular office sofa</h3>
								<span>G64 - Over 1.3 Million Sold Worldwide</span>
							</div>
						</div>
					</div>
				</div>


			</div>
			<div class="col-lg-3 col-md-3 hidden-sm">
				<div class="single-banner mar_b-30">
					<a href="bedroom.html"><img src="img/banner/12.jpg" alt="" /></a>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- feature-preduct-area-end -->
<!-- contact-area-start -->
<div th:replace="fragment:: contact"></div>
<!-- contact-area-end -->
<!-- footer-area-start -->
<div th:replace="fragment:: footer"></div>
<!-- footer-area-end -->
<!-- .copyright-area-start -->
<div th:replace="fragment:: copyright"></div>
<!-- .copyright-area-end -->

<!-- all js here -->
<!-- jquery latest version -->
<script src="js/vendor/jquery-1.12.0.min.js"></script>
<!-- bootstrap js -->
<script src="js/bootstrap.min.js"></script>
<!-- owl.carousel js -->
<script src="js/owl.carousel.min.js"></script>
<!-- meanmenu js -->
<script src="js/jquery.meanmenu.js"></script>
<!-- jquery-ui js -->
<script src="js/jquery-ui.min.js"></script>
<!-- wow js -->
<script src="js/wow.min.js"></script>
<!-- scrolly js -->
<script src="js/jquery.scrolly.js"></script>
<!-- magnific-popup js -->
<script src="js/jquery.magnific-popup.min.js"></script>
<!--  countdown js -->
<script src="js/jquery.countdown.min.js"></script>
<!-- nivo.slider js -->
<script src="js/jquery.nivo.slider.js"></script>
<!-- plugins js -->
<script src="js/plugins.js"></script>
<!-- main js -->
<script src="js/main.js"></script>
<script src="js/Ecommerce/index.js"></script>
</body>
</html>
